.hero {
  display: Flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container {
  width: 300px;
  height: 130px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
}

.magnifying__icon {
  font-size: 9rem;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-45%, -40%);
  color: var(--color-primary-700);
}

.gihub__center__icon {
  width: 100%;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 50%;
  transform: translate(-49.85%, -50%);
  color: var(--color-primary-600);
}

h1 {
  font-size: 2rem;
  text-align: center;
  color: var(--color-primary-600);
  font-weight: 400;
  margin-bottom: 0.5rem;
}

h1 span {
  font-weight: 800;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}

h3 span {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .container {
    border: 1px solid #ccc;
    width: 100%;
    max-width: 900px;
    margin: 2rem auto;
  }

  h3 {
    font-size: 1.5rem;
  }
}
