/* HERO SECTION*/

.hero {
  margin: 3rem auto;
}

.hero__container {
  display: Flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container {
  width: 300px;
  height: 130px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
}

.magnifying__icon {
  font-size: 9rem;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-45%, -40%);
  color: var(--color-primary-700);
}

.gihub__center__icon {
  width: 100%;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 50%;
  transform: translate(-49.85%, -50%);
  color: var(--color-primary-700);
}

h1 {
  font-size: 2rem;
  text-align: center;
  color: var(--color-primary-600);
  font-weight: 400;
  margin-bottom: 0.5rem;
}

h1 span {
  font-weight: 800;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}

h3 span {
  font-weight: bold;
}

.btn__home {
  background-color: var(--color-primary-400);
  color: var(--white);
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: 1.15rem;
  display: inline-block;
  column-gap: 2rem;
  transition: background-color 0.2s;
  cursor: pointer;
}
.btn__home:hover {
  background-color: var(--color-primary-700);
}

.btn__magnifying__icon {
  color: inherit;
  transform: translateY(2px);
  margin-left: 0.5rem;
}

/* BENEFITS SECTION */
.benefits__section {
  width: 100vw;
  background-color: var(--color--secondary-300);
}

.benefits__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  max-width: 900px;
  padding-block: 3rem;
}

.benefits__container h3 {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--color-primary-700);
}

.benefit-item {
  max-width: 100%;
  text-align: center;
  color: var(--color--secondary-800);
  font-size: 0.95rem;
  padding-inline: 2rem;
}

.bottom_line {
  display: inline-block;
  height: 1.5px;
  width: 85%;
  margin: 2rem auto 0;
  background-color: var(--color--secondary-400);
}

.benefit-item:last-child .bottom_line {
  display: none;
}

.benefit-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  text-align: center;
  color: var(--color-primary-700);
}

/* FAQ SECTION */
.faq__section {
  width: 98vw;
  background-color: var(--white);
}

.faq__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  max-width: 90%;
  margin: 1rem auto;
}

.faq__tabs {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 0.25rem;
  width: 100%;
}

.faq__item {
  padding: 0.5rem 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
 background-color: var(--color-primary-400);
  color: var(--white);
  padding: 0.5rem 0.3rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.faq__item:hover {
  background-color: var(--color-primary-700);
}

.faq__item.active {
  background-color: var(--color-primary-700);
}

.faq__item h3 {
  font-size: 0.9rem;
  margin-bottom: 0;
  font-weight: 800;
}

.faq__answers {
  width: 100%;
}

.faq__info {
  display: inline-block;
  padding: 1rem;
  color: var(--white);
  border: none;
  outline: none;
  background: linear-gradient(135deg, #66a1d8 60%, #254e80);
  border-radius: 0.5rem;
  width: 100%;
  text-align: left;
  line-height: 1.5;
}

.faq__info h4 {
  margin-bottom: 0.5rem;
}


/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .container {
    width: 100vw;
  }

  .hero {
    width: 100%;
    max-width: 900px;
  }

  .hero__container {
    display: Flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .benefits__section {
    width: 100%;
  }

  .benefits__container {
    flex-direction: row;
    column-gap: 1.25rem;
    margin: 0 auto;
    padding: 4rem 0;
  }

  .benefit-item {
    flex: 1;
    margin: 0;
    padding-inline: 0;
  }

  .benefit-item > h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
  }

  .benefit-item > h3 {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .benefit-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 0.25rem;
  }

  .bottom_line {
    display: none;
  }

  /* FAQ SECTION */
  .faq__container {
    width: 90%;
    max-width: 900px;
  }

  .faq__tabs {
    column-gap: 1.25rem;
    flex-direction: row;
   
  }

  .faq__item h3 {
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: 400;
  }
}
