footer {
  width: 100%;
  background-color: var(--color-primary-300);
}

.footer__container {
  max-width: 95vh;
  margin: 0 auto;
  text-align: center;
  color: var(--white);
  font-weight: 400;
}

.footer__container ul{
  list-style:none;
  display:flex;
  justify-content: space-between;
}

.footer__container a{
  font-weight: 400;
}

.footer__logo{
  font-weight: 800;
}

@media screen and (min-width: 768px) {
  .footer__container {
    max-width: 900px;
  }
}
