a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.header a span {
  color: var(--color-primary-700);
}

.header .logo {
  font-size: 1.5rem;
}

.header .logo-icon {
  color: var(--color-primary-700);
}

.header {
  background-color: var(--color-primary-300);
  width: 100%;
}

.nav__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  row-gap: 1rem;
}

.nav {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.nav a {
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}
.nav a:hover {
  color: var(--color-primary-600);
  border-bottom: 2px solid var(--color-primary-600);
}

.activeLink {
  color: var(--color-primary-700);
  border-bottom: 2px solid var(--color-primary-700) !important;
}

.nonActiveLink {
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .nav__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
    row-gap: 0;
    padding-left: 0;
    padding-right: 0;
    max-width: 900px;
  }

  .nav {
    flex-direction: row;
    column-gap: 1rem;
  }
}
